.header{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
}
body{
    margin: 0px;
    font-family:Arial ;
    color: aliceblue;
    font-size: large;
}
.REHAN{
    font-family: 'Courier New', Courier, monospace;
}
.leftside{
    width: 300px;
    height: 870px;
    /* border: 1px solid black; */
    background-color: rgb(49, 55, 66);
}
.rightside{
    width: 1000px;
    height: 870px;
    /* border: 1px solid black; */
    justify-content: left;
    background-color: rgb(59, 78, 113);padding-left: 30px;
}
.circle{
     width: 180px;
     height: 180px;
     border: 1px solid black;
     justify-self: center;
     border-radius: 100px;
     text-align: center;
     background-color: rgb(230, 230, 236);
}
.circle>p{
     width: 180px;
     height: 280px;
     cursor: pointer;
     padding-top: 60px;
     color: black;

}
.REHAN{
    text-align: center;
    color: black;
}
button{
    cursor: pointer;
    background-color: blueviolet;
}
h1{
    color: black;
}
span{color: black;
}
.cursor{
    cursor: grab;
}